.genericList-container {
  gap: 6px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.inactive {
  display: none;
}

.categoriesPreview-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category-container {
  width: 300px;
  margin: 0 6px;
  max-width: 288px;
}

.movieDetail-container {
  width: 100%;
  height: 100%;
}

.relatedMovies-scrollContainer {
  width: auto;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
}
